            body {
                margin: 0px;
                font-family: 'Poppins', sans-serif;
            }
            
            .container {
                display: flex;
                flex-direction: column;
                margin-top: 0px;
            }
            
            .myphoto {
                border-style: solid;
                border: black 5px;
                height: 25vhw;
                width: 25vw;
                border-top-left-radius: 50% 50%;
                border-top-right-radius: 50% 50%;
                border-bottom-right-radius: 50% 50%;
                border-bottom-left-radius: 50% 50%;
            }
            
            .top {
                position: fixed;
                width: 100vw;
                display: flex;
                background-color: #161925;
                flex-direction: row-reverse;
            }
            
            .logo {
                width: 2vw;
                fill: #CBF7ED;
            }
            
            .main {
                margin-top: 0;
                margin-bottom: 0;
                display: flex;
                height: 320vh;
                flex-direction: column;
                flex-grow: 3;
                padding-left: 5vw;
                padding-right: 5vw;
                background-color: #CBF7ED;
            }
            
            .self {
                background-color: #406E8E;
                color: #CBF7ED;
                flex-grow: 3;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            
            .name {
                font-size: 2vw;
                padding: 0px;
                margin: 2px;
            }
            
            .stat {
                font-size: 1vw;
                padding: 0px;
                margin: 2px
            }
            
            .desc {
                background-color: #8EA8C3;
                flex-grow: 3;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: stretch;
                padding: 50px;
            }
            
            .deskripsi {
                background-color: #CBF7ED;
                color: #161925;
                padding: 30px;
                margin: 20px;
                flex-grow: 1;
            }
            
            .info {
                background-color: #CBF7ED;
                color: #161925;
                padding: 30px;
                margin: 20px;
                flex-grow: 1;
                flex-shrink: 1;
            }
            
            .background {
                display: flex;
                flex-grow: 3;
                background-color: #23395B;
                padding: 30px;
            }
            
            .foto {
                width: 200px;
            }
            
            .sd {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #CBF7ED;
                color: #161925;
                padding: 30px;
                margin: 20px;
                flex-grow: 1;
            }
            
            .smp {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #CBF7ED;
                color: #161925;
                padding: 30px;
                margin: 20px;
                flex-grow: 1;
            }
            
            .sma {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #CBF7ED;
                color: #161925;
                padding: 30px;
                margin: 20px;
                flex-grow: 1;
            }
            
            .ptn {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #CBF7ED;
                color: #161925;
                padding: 30px;
                margin: 20px;
                flex-grow: 1;
            }
            
            .contact {
                display: flex;
                flex-direction: column;
                height: 15vw;
                background-color: #161925;
                padding: 2vw;
                justify-content: space-between;
            }
            
            .contactlist {
                display: flex;
                align-items: center;
                color: #CBF7ED;
                flex-direction: row;
                width: 40%;
                margin: 0;
                flex-grow: 1;
            }
            
            .user {
                margin: 0px;
                margin-left: 1vh;
            }
            
            .logo {
                width: 3vh;
                height: 3vh;
            }
            /* Dropdown Button */
            
            .dropbtn {
                flex-grow: 1;
                margin-right: 2vw;
                background-color: #161925;
                color: #CBF7ED;
                padding: 16px;
                font-size: 1vw;
                border: none;
            }
            /* The container <div> - needed to position the dropdown content */
            
            .dropdown {
                position: relative;
                display: inline-block;
            }
            /* Dropdown Content (Hidden by Default) */
            
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #8EA8C3;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
            }
            /* Links inside the dropdown */
            
            .dropdown-content a {
                color: #CBF7ED;
                padding: 12px 10px;
                text-decoration: none;
                display: block;
            }
            /* Change color of dropdown links on hover */
            
            .dropdown-content a:hover {
                background-color: #23395B;
            }
            /* Show the dropdown menu on hover */
            
            .dropdown:hover .dropdown-content {
                display: block;
            }
            /* Change the background color of the dropdown button when the dropdown content is shown */
            
            .dropdown:hover .dropbtn {
                background-color: #23395B;
            }